@import './scssConfig.scss';
@import '../main/common.scss';
@import '../main/ui/index.scss';
@import '../main/basis/icon.scss';
@import '../main/basis/color.scss';
@import '../main/basis/normalize.scss';

body{
    background-color: #f6f6f6;
}
.wrap-layout{
    height: 100vh;
    display: flex;
}
.layout-left{
    flex: 4;
    background-color: $color-main;
}

.layout-right{
    flex: 2;
    background-color: #000;
}